<div class="page__footer-follow">
  <ul class="social-icons">

      <li><a href="https://github.com/gernotstarke"
             rel="noopener noreferrer nofollow"
            target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>

    <li><a href="https://www.youtube.com/arc42video"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i>
        YouTube</a></li>

    <li><a href="https://www.instagram.com/doczorg42/"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li>

      <li><a href="https://www.linkedin.com/in/gernotstarke"
             rel="noopener noreferrer nofollow"
             target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>

    <li><a href="https://dev.to/gernotstarke/"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fab fa-fw fa-dev" aria-hidden="true" style="color:black;"></i> Dev</a></li>




    <li><a href='/errata'><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true" style="color:red"></i> Errata</a></li>

    <li><a href="/imprint"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fas fa-fw fa-gavel" style="color:Tomato" aria-hidden="true"></i> Impressum & Datenschutz</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} Karl Eilebrecht & Gernot Starke.
  Created by
  <a rel="noopener noreferrer nofollow" target="_blank"href="https://perstarke-webdev.de/">
    Per Starke Web Development</a>

</div>
