/**
  Credits to w3schools:
  https://www.w3schools.com/howto/howto_css_timeline.asp

**/
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #EE6E00;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #EE6E00;
  border: 4px solid #244373;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #244373;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #244373;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #244373;
  border-width: 10px 10px 10px 0;
  border-color: transparent #244373 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.tl-content {
  padding: 20px 30px;
  background-color: #F5F5F5;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on smaller screens */
@media screen and (max-width: 820px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #F6E7B6 transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}



/*
special buttons for each auflage
*/

.btn-base {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.5;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}


/* "Auflage 1" */
.btn-base.auflage-1 {
    background-color: #2B4893;
    border-color: #2B366E;
}

.btn-base.auflage-1:hover {
    background-color: #21416D;
    border-color: #1A355F;
}

/* "Auflage 2" */
.btn-base.auflage-2 {
    color: #244373;
    background-color: #E7C882;
    border-color: #D7B26D;
}

.btn-base.auflage-2:hover {
    background-color: #D9B972;
    border-color: #CBA161;
}

/* "Auflage 3" */
.btn-base.auflage-3 {
    color: #244373;
    background-color: #AFC153;
    border-color: #A0A83B;
}

.btn-base.auflage-3:hover {
    background-color: #9DBB46;
    border-color: #8BAE3A;
}

/* "Auflage 4" */
.btn-base.auflage-4 {
    color: #244373;
    background-color: #ABCEEC;
    border-color: #96A6D3;
}

.btn-base.auflage-4:hover {
    background-color: #97B7D9;
    border-color: #83AAC7;
}

/* "Auflage 5" */
.btn-base.auflage-5 {
    color: #244373;
    background-color: #F1B176;
    border-color: #E19C55;
}

.btn-base.auflage-5:hover {
    background-color: #E3A267;
    border-color: #D4955A;
}
