/*
Colors
*/

.orange {
    background-color: #D25C00;
}

.orange-text {
    color: #D25C00;
}

.blue {
    background-color: #244373;
}


.fa-instagram:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}



/*
General Styles
*/

a.active2 {
    color: #244373 !important;
}

a.active2:hover {
    color: #1a3158 !important;
}

hr.orange-hr {
    border: none; /* Entferne die Standardlinie */
    height: 1px; /* Höhe der Linie */
    background-image: linear-gradient(to right, #CCCCCC 0%, #FF8C40 50%, #CCCCCC 100%);
    background-size: 100% 1px; /* Breite und Höhe des Farbverlaufs */
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

/*
Book cover and text, for index and literature pages
*/

.content {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.book-cover {
  max-width: 200px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.text {
  flex: 1;
}

.text p {
  margin: 0;
}

@media (max-width: 768px) {
  .book-cover {
    max-width: 150px;
  }
}



/*
Table for errata
*/

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #244373;
}

th {
  background-color: #c2dbf7;
  color: #244373;
  border-top: none;
  border-bottom: 2px solid #244373;
}

th:nth-child(1),
td:nth-child(1) {
  border-right: 1px solid #244373;
}




/*
Button
*/

.btn-custom {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #F0750B;
    border: 1px solid #d86909;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.5;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

.btn-custom:hover {
    background-color: #E16300;
    border-color: #B94A00;
}


.btn-link {
  display: inline-block;
}




