/*
Colors
*/

.orange {
    background-color: #EE6E00;
}

.orange-text {
    color: #EE6E00;
}

.blue {
    background-color: #244373;
}


.fa-instagram:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}



/*
General Styles
*/

a.active2 {
    color: #244373 !important;
}

a.active2:hover {
    color: #1a3158 !important;
}

hr.orange-hr {
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, #CCCCCC 0%, #FF8C40 50%, #CCCCCC 100%);
    background-size: 100% 1px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}



/*
Images
*/

figure.onecol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

img.max350 {
    max-width: 350px;
}

img.tl {
    width: 250px;
    max-width: 50vw;
}


/*
SVG-texts for header
*/

.patternskompakt {
    padding: 10px 10px 12px 10px;;
}


img.patternskompakt {
    width: 30vw;
    max-width: 450px;
    min-width: 250px;
}

@media (max-width: 768px) {
  .patternskompakt {
    padding: 8px 5px;
  }
}




/*
Book cover and text, for index and literature pages
*/

.content {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.book-cover {
  max-width: 200px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.author {
    margin-top: 50px;
}

.text {
  flex: 1;
}

.text p {
  margin: 0;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
  }

  .book-cover {
    max-width: 150px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
    order: -1;
  }
}




/*
Table for errata
*/

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #244373;
}

th {
  background-color: #c2dbf7;
  color: #244373;
  border-top: none;
  border-bottom: 2px solid #244373;
}

th:nth-child(1),
td:nth-child(1) {
  border-right: 1px solid #244373;
}




/*
Button
*/

.btn-custom {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #F0750B;
    border: 1px solid #d86909;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.5;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

.btn-custom:hover {
    background-color: #E16300;
    border-color: #B94A00;
}


.btn-link {
  display: inline-block;
}


/*
Pattern-Wette Box
*/

.pattern-wette {
    font-size: 80%;
    border: 1.5px solid red;
    background-color: rgba(255, 0, 0, 0.075);
    padding: 0 30px;
    border-radius: 5px;
}





